body {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
}
.text-center {
    text-align: center;
}

.one {
    background: bisque;
}

.two {
    background: orange;
}

.three {
    border: 2px solid red;
}