* {
    box-sizing: border-box;
}

.container {
    width: 100%;
}

section {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #444;
}

.block {
    width: 75px;
    height: 75px;
    margin: 25px;
    border: 2px solid #333;
}

.out-11 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.row {
    margin: 5px 0;
    display: flex;
    flex: 1 1 auto;
    gap: 10px;
}

.keyboard {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    border-radius: 6px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
}

.keyboard[data="space"] {
    width: 339px;
}

.keyboard[data="Backspace"],
.keyboard[data="Tab"],
.keyboard[data="CapsLock"],
.keyboard[data="enter"],
.keyboard[data="Shift"] {
    width: 107px;
}

.keyboard:hover:not(.space) {
    transform: scale(1.1);
}

.keyboard:hover {
    background-color: rgb(250, 115, 115);
}



.active {
    background: orange;
}

.hide {
    display: none;
}

.block-10 {
    width: 75px;
    height: 75px;
    background: orangered;
    margin: 5px;
}