* {
    margin: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

a {
    color: #3f8efc;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 40px;
}

div.section {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}