.text-center {
    text-align: center;
}

hr {
    clear: both;
}

.block-1, .block-2, .block-3, .block-4, .block-5 {
    width: 250px;
    height: 250px;
    border: 3px solid red;
    margin: 10px;
}